*{
    box-sizing: border-box;
}

body{
    background-color: #f4f5f7;
    color: #e2e8f0;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    background: linear-gradient(90deg,rgba(87, 76, 232, 1) 0%,
     rgba(63, 159, 219, 1) 100%);
    padding: 40px 120px; 
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 3em;
    margin: 0;
}

header nav ul{
    display: flex;
    gap: 12px;
}

.search-bar{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    color: #0a111e ;
}

.search-bar input{
    background-color: transparent;
    border: none;
    width: 95%;
    color: white;
    padding: 8px;
}

.search-bar input::placeholder{
    color: #d1d1d1;
}

.search-bar .search-icon{
    padding: 5px;
    color: #a0aea0;
}

.articles{
    display: flex;
    padding: 40px 120px;
    gap: 40px;
    flex-wrap: wrap;
}

 .article-card{
   background-color: #f4f5f7;
   color: #0a111e;
   box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
   padding: 16px;
   border-radius: 8px;
 }

 .article-header{
  display: flex;
  justify-content: space-between;
  margin: 8px;
  font-weight: lighter;
 }

 .article-title{
  font-weight: bold;
 }

 .article-content{
  line-height: 1.5;  
 }

.likebutton{
    background: none;
    border: none;
    font-size: 1.5em;
}

@media (max-width:768px){
    body{
        background-color: #e976c6;
    }
    .article-header{
        font-size: 0.8em;
       }
       header, .articles{
        padding: 40px;
       }
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #dadbda;
}

article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f5f7;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.6);
    width: 60%;
    color: #0a111e;
    align-items: center;
}

h2{
    font-weight: 900;
    font-size: 2em;
}

.news-highlight{
    font-weight: lighter
    color: #0a111e;
}

.news-body{
    font-weight: lighter;
    color: #0a111e;
    width: 1000px;
    font-size: 15px;
    padding: 15px;
    line-height: 1.5;
    text-indent: 24px;
}
article.noticia{
    align-items: center;
}

img{
    width: 100%;
    padding: 16px;
}